@using System.Text.Json
@model Kartverket.Web.Models.Report.ReportDetailsViewModel
@{
    ViewBag.Title = "Rapport";
}

<div id="model-title">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="notification is-danger">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    }
    <h2 class="is-size-2">
        <strong>Rapport:</strong> @Model.Title
    </h2>
</div>

<div class="main-container">

    <div class="column-flex">
        <div class="box row-flex">
            <h2><strong>Beskrivelse:</strong></h2>
            <br/>
            @if (string.IsNullOrWhiteSpace(Model.Description))
            {
                <p><em>Ingen beskrivelse på rapport ...</em></p>
            }
            else
            {
                <p>@Model.Description</p>
            }
            <br/>
            <p><strong>Rapportert:</strong> @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm")</p>
        </div>

        <div class="box row-flex" id="ObjTable">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Objekt tittel</th>
                    <th>Punkter</th>
                    <th>Detaljer</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var obj in Model.Objects)
                {
                    <tr>
                        <td>@if (string.IsNullOrWhiteSpace(obj.Title))
                            {
                                <p><em>Objekt uten tittel</em></p>
                            }
                            else
                            {
                                @obj.Title
                            }
                        </td>
                        <td>@obj.Points.Length</td>
                        <td>
                            <a id="showIn" asp-route-reportId="@Model.ReportId" asp-route-objectId="@obj.Id">Åpne</a>
                        </td>
                        <td>@obj.ObjectStatus.GetDisplayName()</td>
                    </tr>
                }


                </tbody>
            </table>
        </div>
    </div>


    <div class="column-flex">
        <div class="box" style="flex: 1">

            @if (Model.SelectedObject is { } selObj)
            {
                @if (string.IsNullOrWhiteSpace(selObj.Title))
                {
                    <h3 class="title is-4"><em>Objekt uten tittel</em></h3>
                }
                else
                {
                    <h3 class="title is-4">@selObj.Title</h3>
                }

                <br/>
                @if (string.IsNullOrWhiteSpace(selObj.Description))
                {
                    <p><em>Ingen beskrivelse på objekt ...</em></p>
                }
                else
                {
                    <p>@selObj.Description</p>
                }

                <br/>
                <p>Status: @selObj.ObjectStatus.GetDisplayName()</p>
                <br/>
                @if (selObj.IsVerified)
                {
                    <p><strong>Verifisert:</strong> @selObj.VerifiedAt</p>
                }
                else
                {
                    <p>Dette objektet er ikke vurdert</p>
                }

                <a asp-action="Object"
                   asp-route-reportId="@Model.ReportId"
                   asp-route-objectId="@Model.SelectedObject.Id"
                >
                    Vurder objekt
                </a>
            }
            else
            {
                <p>Objekt informasjon vises her.</p>
            }

        </div>
    </div>

    <div class="column-flex">
        <div>
            <div id="map" class="column-flex box"></div>
        </div>
    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .main-container {
            display: flex;
            height: 100vh;
            padding: 1rem;
            gap: 1rem;
        }

        .column-flex {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1rem;
        }

        .row-flex {
            flex: 1;
        }

        #ObjTable {
            overflow-y: auto;
        }

        #map {
            height: 100vh;
            width: auto;
        }
    </style>
}

@section Scripts{
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        const centerOfNorway = [63.99164652261938, 12.306951660170679];
        const {
            Objects: objects,
            SelectedObject: selectedObject
        } = @Html.Raw(JsonSerializer.Serialize(Model));
        let mapCenter = [58.16358810163733, 8.00377215125247];
        let zoomLevel = 10;
        let bounds = null;

        if (selectedObject && selectedObject.CentroidPoint) {
            let centroid = selectedObject.CentroidPoint;
            var points = selectedObject.Points;
            mapCenter = [selectedObject.CentroidPoint.Lat, selectedObject.CentroidPoint.Lng];

            let latLngPoints = points.map((p) => L.latLng(p.Lat, p.Lng));
            bounds = L.latLngBounds(latLngPoints);
            bounds.extend([centroid.Lat, centroid.Lng]);
        } else {
            let latLngPoints = objects.flatMap(o => o.Points.map(p => L.latLng(p.Lat, p.Lng)));
            bounds = L.latLngBounds(latLngPoints);
            bounds.extend(centerOfNorway);
        }

        const map = L.map('map').setView(mapCenter, zoomLevel);
        map.fitBounds(bounds, {
            padding: [50, 50]
        });

        L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png', {
            attribution: '&copy; <a href="http://www.kartverket.no/">Kartverket</a>'
        }).addTo(map);

        objects.forEach(obj => {
            if (obj.Points && obj.Points.length > 0) {
                obj.Points.forEach(point => {
                    if (point.Lat && point.Lng) {
                        L.marker([point.Lat, point.Lng]).addTo(map).bindPopup(obj.Description);
                    }
                });
            }
        });
    </script>
}
