@using Kartverket.Web.Database
@using Kartverket.Web.Models.Report
@model Kartverket.Web.Models.Report.ReportIndexViewModel
@{
    ViewBag.Title = "Rapporter";

    var reverseSortOrder = Model.SortOrder == SortOrder.Ascending
        ? SortOrder.Descending
        : SortOrder.Ascending;

    var sortDate = Model.SortDate.ToString("yyyy-MM-dd");
}

<div class="box">
    <h2 class="is-size-3">Rapporter</h2>
</div>

<div class="box mt-1">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        @using (Html.BeginForm("Index", "Report", FormMethod.Get))
        {
            <div>
                <p class="is-size-5">Filtrer</p>
                <label for="SelDate">Før dato</label>
                <input
                    type="date"
                    id="SelDate"
                    name="SortDate"
                    value="@(sortDate)"/>
                <label for="SelStatus">Status</label>
                <select asp-for="SortStatus" asp-items="Html.GetEnumSelectList<ReviewStatus>()"
                        id="SelStatus">
                    <!option value="">Alle rapporter</!option>
                </select>
                <input type="submit" value="Filtrer">
            </div>
        }
        <tr>
            <th>Lagd av</th>
            <th>Rapport</th>
            <th>Objekter</th>
            <th>Status</th>
            <th>Åpne</th>
            <th>
                <a class="nav-link text-dark"
                   asp-action="Index"
                   asp-route-Page="@(Model.CurrentPage)"
                   asp-route-SortDate="@(sortDate)"
                   asp-route-SortOrder="@(reverseSortOrder)"
                   asp-route-SortStatus="@(Model.SortStatus)">
                    @(Model.SortOrder == SortOrder.Ascending ? "▲" : "▼")
                </a>
                Dato
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td>@report.User</td>
                <td>
                    <div id="WrapText">
                    @report.Title
                    </div>
                    </td>
                <td>
                    @report.TotalObjects
                </td>
                <td>@report.Review.GetDisplayName()</td>
                <td>
                    <a class="nav-link, text-dark"
                       asp-action="Details"
                       asp-route-id="@report.Id"
                    >
                        Åpne
                    </a>
                </td>
                <td>
                    @report.CreatedAt
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="columns is-centered">
    <div class="Pagination">
        <nav class="pagination is-centered" role="navigation">
            @if (Model.CurrentPage > 1)
            {
                <a class="pagination-previous"
                   asp-action="Index"
                   asp-route-Page="@(Model.CurrentPage - 1)"
                   asp-route-SortDate="@(sortDate)"
                   asp-route-SortOrder="@(Model.SortOrder)"
                   asp-route-SortStatus="@(Model.SortStatus)">
                    Forrige
                </a>
            }
            else
            {
                <a class="pagination-previous" disabled>
                    Forrige
                </a>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a class="pagination-next"
                   asp-action="Index"
                   asp-route-Page="@(Model.CurrentPage + 1)"
                   asp-route-SortDate="@(sortDate)"
                   asp-route-SortOrder="@(Model.SortOrder)"
                   asp-route-SortStatus="@(Model.SortStatus)">
                    Neste
                </a>
            }
            else
            {
                <a class="pagination-next" disabled>
                    Neste
                </a>
            }
            <ul class="pagination-list">
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li>
                        @if (i == Model.CurrentPage)
                        {
                            <a class="pagination-link column is-half" disabled>@i</a>
                        }
                        else
                        {
                            <a class="pagination-link
                            column is-half"
                               asp-action="Index"
                               asp-route-Page="@i"
                               asp-route-SortDate="@(sortDate)"
                               asp-route-SortOrder="@(Model.SortOrder)"
                               asp-route-SortStatus="@(Model.SortStatus)">
                                @i
                            </a>
                        }
                    </li>
                }
            </ul>

        </nav>
    </div>
</div>

@section Styles {
	<style>
		#WrapText {
			text-wrap: wrap;
            word-break: break-word;
		}
        table {
            table-layout: fixed;
            width: 100%;
        }
	</style>
}
