@{
    var roles = new List<string> { RoleValue.Kartverket, RoleValue.Pilot, RoleValue.User };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Kartverket.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" href="~/favicon.ico">

    <link rel="stylesheet" href="~/css/bulma.min.css">
    <script defer src="~/js/fontawesome.js"></script>

    <style>
        img.icon {
            filter: invert(0);
        }

        @@media (prefers-color-scheme: dark) {
            img.icon {
                filter: invert(1);
            }
        }
    </style>

    @await RenderSectionAsync("Styles", false)
</head>
<body>
<header>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="@Url.Action("Index", "Home")">
                <img src="~/svg/kartverket.svg" alt="Kartverket Logo" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable" id="role-dropdown">
                    <a class="navbar-link" id="role-dropdown-button">
                        Roller
                    </a>

                    <div class="navbar-dropdown is-left">
                        @foreach (var role in roles)
                        {
                            <a asp-controller="User"
                               asp-action="SetRole"
                               asp-route-role="@role"
                               class="navbar-item">
                                Bytt til @role
                            </a>
                        }
                    </div>
                </div>

                <div class="navbar-item">
                    <div class="buttons">
                        <a asp-controller="Map" asp-action="Index"
                           class="button is-info is-rounded">
                            <span>Start Reise</span>
                            <span class="icon is-small ml-2">
                                    <i class="fas fa-map"></i>
                                </span>
                        </a>

                        <a asp-controller="Report" asp-action="Index"
                           class="button is-info is-rounded">
                            <span>Se Rapporter</span>
                            <span class="icon is-small ml-2">
                                    <i class="fas fa-file-alt"></i>
                                </span>
                        </a>

                        <a asp-controller="Home" asp-action="Index"
                           class="button is-info is-rounded">
                            <span>Hjemside</span>
                            <span class="icon is-small ml-2">
                                    <i class="fas fa-home"></i>
                                </span>
                        </a>
                    </div>
                </div>

                <div class="navbar-item">
                    <div class="buttons">
                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            <a asp-controller="User" asp-action="Logout"
                               class="button is-light is-rounded">
                                Logg Ut
                            </a>
                        }
                        else
                        {
                            <a asp-controller="User" asp-action="Login"
                               class="button is-primary is-rounded">
                                <strong>Logg Inn</strong>
                            </a>
                            <a asp-controller="User" asp-action="Register"
                               class="button is-light is-rounded">
                                Registrer
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="is-flex is-flex-direction-column" style="min-height: 100vh;">
    @RenderBody()
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @(DateTime.Now.Year) - Kartverket.Web - Gruppe 6
    </div>
</footer>

<script>

    (function () {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                const target = el.dataset.target;
                const $target = document.getElementById(target);

                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });

        const roleDropdown = document.getElementById('role-dropdown'),
            roleDropdownButton = document.getElementById('role-dropdown-button');

        roleDropdownButton?.addEventListener('click', (e) => {
            e.preventDefault();
            roleDropdown?.classList.toggle('is-active');
        });

        document.addEventListener('click', (e) => {
            if (!roleDropdown?.contains(e.target)) {
                roleDropdown?.classList.remove('is-active');
            }
        });
    })();

</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
